# Build
# Ignore all files in the build directory except for the Makefile
*/build/CMakeFiles/
*/build/babychicks/
*/build/babychicks_project-prefix/
*/build/guestbook/
*/build/guestbook_project-prefix/
*/build/helloworld/
*/build/helloworld_project-prefix/
*/build/simplenft/
*/build/simplenft_project-prefix/

# Secrets
secrets

# Logs
nodeos.log

# Node
node_modules